<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "AboutPage",
  "@id": "https://receipttrackerapp.com/about/#page",
  "url": "https://receipttrackerapp.com/about/",
  "name": "About Receiptly",
  "isPartOf": { "@id": "https://receipttrackerapp.com/#website" },
  "mainEntity": {
    "@type": "Organization",
    "@id": "https://receipttrackerapp.com/#organization",
    "name": "Karma Academy",
    "url": "https://receipttrackerapp.com/",
    "logo": "https://receipttrackerapp.com/images/2026/receiptly-app-icon.png",
    "address": { "@type": "PostalAddress", "addressLocality": "Brisbane", "addressRegion": "QLD", "addressCountry": "AU" },
    "sameAs": [
      "https://twitter.com/ReceiptsC",
      "https://www.codewithkarma.com",
      "https://apps.apple.com/app/id1532569828",
      "https://play.google.com/store/apps/details?id=com.karmafyapps.receiptly"
    ]
  }
}
</script>
